<!doctype html>
<html class="no-js" lang="cs">
<head>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Test | 3IT.cz</title>
   <link rel="shortcut icon" href="https://www.3it.cz/favicon.ico" type="image/x-icon">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
   <body>
      {block body/}
   </body>
</html>